@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primary: #8CC84C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--color-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}

.search{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px; 
}

.search h2{
    font-size: 22px;
    font-weight: 600;
}

.search__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.search__list--active{
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin: 3px;
    padding: 10px;
}

.search__list--active i{
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

.search__input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.search .button--remove{
    cursor: pointer;
}

.search .button--remove:hover{
    background-color: #7cac49;
}
